<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="google" value="notranslate">
  <!-- Site Properties -->
  <title>Admin Dashboard</title>
  <!-- Include Font Awesome. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/site.css">
  <link rel="stylesheet" type="text/css" href="/components/message.css">

  <link rel="stylesheet" type="text/css" href="/components/container.css">
  <link rel="stylesheet" type="text/css" href="/components/form.css">
  <link rel="stylesheet" type="text/css" href="/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/components/header.css">
  <link rel="stylesheet" type="text/css" href="/components/image.css">
  <link rel="stylesheet" type="text/css" href="/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/components/button.css">
  <link rel="stylesheet" type="text/css" href="/components/list.css">
  <link rel="stylesheet" type="text/css" href="/components/label.css">
  <link rel="stylesheet" type="text/css" href="/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/components/statistic.css">
  <link rel="stylesheet" type="text/css" href="/components/table.css">


  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }

    .feature-field{
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .articles{
        display: inline-flex;
        height: 9em;
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 3px #ddd;
        border-radius: 5px;
    }

    .articles img{
        height: 100%;
        border-radius: 5px 0px 0px 5px;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        z-index: -5;
    }

    .articles>span{
        position: absolute;
        background: #5ea913;
        /* left: 0px; */
        margin-top: 15px;
        padding: 5px;
        color: white;
    }

    .description{
        margin-top: 1em;
    }

    .description p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 22em;
    }

    @media only screen and (max-width: 990px) {
        .articles{
            width: 135%;
        }

        .articles img,.articles>span {
            display: none;
        }

        .form{
            width: 100% !important;
        }

    }

    .form{
            width: 50%;
        }
    #msg{
        display: none;
    }
    #msg-err{
        display: none;
    }
  </style>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/components/visibility.js"></script>
  <script src="/components/sidebar.js"></script>
  <script src="/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>
<body>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  
  <div class="ui container" style=" padding-top: 50px; word-break: break-all; ">
    <h2 class="ui dividing header">管理員儀表板 - <%= webTitle %></h2>
  </div>

  <div class="ui grid container" style="
    padding-bottom: 50px;
    padding-top: 50px;
    word-break: break-all;">

	<div class="ui secondary vertical menu">
        <a class="item" href="/admin/dashboard">
            <i class="newspaper icon"></i>
            文章管理
        </a>
        <a class="active item" href="/admin/setting">
            <i class="user icon"></i>
            設定
        </a>
        <a class="item" href="/admin/user/logout">
            <i class="sign out icon"></i>
            登出
        </a>
    </div>
    <div class="ui twelve wide column">
        <h1>密碼設定</h1>
        <div class="ui success message" id="msg">
            <i class="close icon"></i>
            <div class="header">
                Password Changed!
            </div>
            <p>Your password just changed.</p>
        </div>
        <div class="ui error message" id="msg-err">
            <i class="close icon"></i>
            <div class="header">
                Password Will Not Gonna Change!
            </div>
            <p>Server is not response!</p>
        </div>
        <div class="ui equal width form" style=" width: 50%; margin-bottom: 25px; margin-top: 25px; ">
            <div class="fields">
                <div class="field">
                <label>Password</label>
                <input type="password">
                </div>
            </div>
        </div>
        <div class="ui equal width form" style="width: 50%; margin-bottom: 25px;">
            <div class="fields">
                <div class="field">
                <label>Password Again</label>
                <input type="password">
                </div>
            </div>
        </div>
        <button class="ui red button" onclick="changePassword()">Change Password</button>
    </div>

    
  </div>


  <div class="ui black inverted vertical footer segment">
  	<div class="ui center aligned container">
    	<div class="ui horizontal inverted small divided link list">
    		<h6>system open source - License MIT.</h6>
      		<h5>2016 立於和春科技大學資訊工程系 J605B 人機互動實驗室</h5>
      		<h5>WebDesign By MacTaylor, this project from J605b soft-lab, system open source - License MIT. All Authors are certified by our school!</h5>
    	</div>
  	</div>
  </div>

</div>
</div>
<script type="text/javascript">
    function changePassword(){
        var pw = $("input[type=password]");
        if(pw[0].value != "" && pw[0].value == pw[1].value){
            var formData = new FormData();
            formData.append('password', pw[0].value);

            var request = new XMLHttpRequest();
            request.open('POST', '/admin/setting', /* async = */ true);
            request.onload = function (e) {
                if (request.readyState === 4) {
                    if (request.status === 200) {
                        $("#msg").show();   
			            pw[0].value = "";
                        pw[1].value = "";
                        
                    } else {
                        $("#msg-err").show();
                    }
                }
            };
            request.send(formData);

        }else{
            alert("Two password are not equal, Please check again.");
        }
    }
</script>
<script src="/javascripts/semantic.min.js"></script>
</body>
</html>
