<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="google" value="notranslate">
  <!-- Site Properties -->
  <title>Create Article</title>
  <!-- Include Font Awesome. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/site.css">

  <link rel="stylesheet" type="text/css" href="/components/container.css">
  <link rel="stylesheet" type="text/css" href="/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/components/header.css">
  <link rel="stylesheet" type="text/css" href="/components/image.css">
  <link rel="stylesheet" type="text/css" href="/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/components/button.css">
  <link rel="stylesheet" type="text/css" href="/components/list.css">
  <link rel="stylesheet" type="text/css" href="/components/label.css">
  <link rel="stylesheet" type="text/css" href="/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/components/input.css">
  <link rel="stylesheet" type="text/css" href="/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/components/statistic.css">
  <link rel="stylesheet" type="text/css" href="/components/table.css">
  <link rel="stylesheet" type="text/css" href="/components/form.css">

  <!-- tagging js css-->
  <link href="/tagging/screen.css" rel="stylesheet">
  <link href="/tagging/tag-basic-style.css" rel="stylesheet">

  <!-- Include Font Awesome. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Editor style. -->
  <link href="/wysiwyg-editor-2.2.4/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
  <link href="/wysiwyg-editor-2.2.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Editor Plugins style. -->
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/char_counter.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/code_view.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/colors.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/emoticons.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/file.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/image.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/image_manager.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/quick_insert.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/table.css">
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/video.css">
  <!-- Code Mirror CSS file. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

  <!-- Include the plugin CSS file. -->
  <link rel="stylesheet" href="/wysiwyg-editor-2.2.4/css/plugins/code_view.min.css">


  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }

    .feature-field{
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .articles{
        display: inline-flex;
        height: 9em;
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 3px #ddd;
        border-radius: 5px;
    }

    .articles img{
        height: 100%;
        border-radius: 5px 0px 0px 5px;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        z-index: -5;
    }

    .articles>span{
        position: absolute;
        background: #5ea913;
        /* left: 0px; */
        margin-top: 15px;
        padding: 5px;
        color: white;
    }

    .description{
        margin-top: 1em;
    }

    .description p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 22em;
    }

    @media only screen and (max-width: 990px) {
        .articles{
            width: 135%;
        }

        .articles img,.articles>span {
            display: none;
        }

    }
  </style>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/components/visibility.js"></script>
  <script src="/components/sidebar.js"></script>
  <script src="/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>
<body>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  
  <div class="ui container" style=" padding-top: 50px; word-break: break-all; ">
    <h2 class="ui dividing header">管理員儀表板 - newspaper</h2>
  </div>

  <div class="ui grid container" style="
    padding-bottom: 50px;
    padding-top: 50px;
    word-break: break-all;">

	<div class="ui secondary vertical menu">
        <a class="active item" href="/admin/dashboard">
            <i class="newspaper icon"></i>
            文章管理
        </a>
        <a class="item">
            <i class="user icon"></i>
            設定
        </a>
        <a class="item">
            <i class="sign out icon"></i>
            登出
        </a>
    </div>

    <div class="ui twelve wide column">
        <div class="ui large icon input" style="display: block;">
            <p >文章標題:</p>
            <input type="text" id="title" style=" width: 20em; "  placeholder="請輸入文章標題...">
        </div>

        <div class="ui form" style=" margin-top: 25px;">
            <div class="field">
                <label>文章大綱 (不要太多字):</label>
                <textarea id="preface"></textarea>
            </div>
        </div>
        <div class="ui large icon input" style="display: block;">
            
        </div>


        <!-- article hashtag-->
        <div class="container" style=" margin-top: 25px; margin-bottom: 25px;">
            <!-- The example Code -->
            <div class="example-wrapper">
            <div class="tags well">
                <label for="tag" class="control-label">文章標籤 (利用空白鍵區分不同標籤):</label>
                <div class="tagging-js blockquote-success" data-tags-input-name="taggone" id="tagBox"></div>
            </div>
            </div>
        </div>

        <div style=" padding-bottom: 30px; "><!-- 沒有修改不會怎樣 -->
            <p>文章特色圖片:</p>
            <input type="file" name="upload" id="fileToUpload">
        </div>

        <p>文章內容: </p>
        <div id="froala-editor">
        </div>

        <div style=" margin-top: 30px; ">
            <button class="ui green button" onClick="doSome()">Finish</button>
        </div>
        

    </div>

    
  </div>


  <div class="ui black inverted vertical footer segment">
  	<div class="ui center aligned container">
    	<div class="ui horizontal inverted small divided link list">
    		<h6>system open source - License MIT.</h6>
      		<h5>2016 立於和春科技大學資訊工程系 J605B 人機互動實驗室</h5>
      		<h5>WebDesign By MacTaylor, this project from J605b soft-lab, system open source - License MIT. All Authors are certified by our school!</h5>
    	</div>
  	</div>
  </div>

</div>
</div>


<!-- Include jQuery. -->
<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Include JS files. -->
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/froala_editor.min.js"></script>

<!-- Include Code Mirror. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

<!-- Include Plugins. -->
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/align.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/file.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/image.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/link.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/table.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/save.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/url.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/video.min.js"></script>
<!-- Include the plugin JS file. -->
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="/wysiwyg-editor-2.2.4/js/plugins/codemirror.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js">-->

<!-- Include the language file. -->
<script type="text/javascript" src='/wysiwyg-editor-2.2.4/js/languages/zh_tw.js'></script>

<!-- Don't forget to include taggingJS! -->
<script src="/tagging/tagging.js"></script>

<!-- Initialize the editor. -->
<script type="text/javascript">
    $(function() {
        $('div#froala-editor').froalaEditor({
        language: 'zh_tw'
        });
        $('.selector').froalaEditor({
        codeMirror: false
        });
    });

    //add tag

    function doSome(){

        var postFormData = new FormData();
        postFormData.append('file', $('#fileToUpload').get(0).files[0]);
        postFormData.append('content', $('div#froala-editor').froalaEditor('html.get',true));
        postFormData.append('title' , $('#title').val());
        postFormData.append('preface' , $('#preface').val());
        postFormData.append('hash_tag' , $('#tagBox').tagging("getTags"));


        $.ajax({
            url: '/admin/article/post_article',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType : 'json',
            data: postFormData
        }).done(function(result) {
            if(result.status == 1){
                location.href = "/admin/dashboard";
            }else{
                alert("請確定內文有超過 30 個字節以上。");
            }
        });;

        /*$.post("/admin/article/post_article",{
            content: $('div#froala-editor').froalaEditor('html.get',true),
            title : $('#title').val(),
            preface : $('#preface').val(),
            hash_tag : $('#tagBox').tagging("getTags"),
            feature_picture : $('#feature_picture').val(),
        },function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });*/
    }
</script>
<script src="/javascripts/semantic.min.js"></script>
</body>
</html>
