<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">location.href = "explore"</script>
	<meta charset="utf-8"/>
	<title><%= title %></title>
</head>
<body>
<script src="/javascript/angular.min.js"></script>
</body>
</html>